

.login-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.I_login{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.I_loginTit{
  font-size: 26px;
  margin-left: 30px;
}




.P_login{
  width: 484px;
  height: 318px;
  opacity: 1;
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 2px 2px 27px 1px rgba(0,0,0,0.10);
  margin: 0 auto;
}
.P_loginTop{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.P_loginTopL{
  height: 15px;
  opacity: 1;
  font-size: 14px;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-weight: bold;
  text-align: right;
  color: #333333;
  line-height: 30px;
  text-shadow: 2px 2px 27px 1px rgba(0,0,0,0.10);
  margin-top: 18px;
  margin-left: 17px;
}
.P_loginTopR{
  width: 19px;
  height: 19px;
  margin-top: 18px;
  margin-right: 7px;
}

.P_loginTit{
  height: 13px;
  opacity: 1;
  font-size: 12px;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-weight: 400;
  text-align: left;
  color: #111f2c;
  line-height: 24px;
  text-shadow: 2px 2px 27px 1px rgba(0,0,0,0.10); 
  margin-top: 52px;
  margin-left: 60px;
}
.inputWidth{
  width: 300px;
  height: 32px;
}

.P_loginBot{
  width: 100%;
  height: 52px;
  border-top: 1px solid #dedede;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  margin-top: 57px;
}
.P_loginBotSure{
  width: 80px;
  height: 32px;
  margin-top: 9px;
  margin-right: 11px;
}